h2 {
    text-align: center;
   font-size: 40px;
   padding-top: 80px;
   
}

html{
    background-color: gray;
}
input
{
    
    background-color: white;
    height: 80px;
    width: 300px;
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    
    
   
}
form{
    text-align: center;
   
}
body{
    background-color: white;
    margin: 300px;
    border-radius: 10px 10px 10px 10px;
}

 textarea {
    height: 200px;
    width: 600px;
    font-size: 20px;
 }
 button {
    
     width: 200px;
     height: 50px;
     margin:0px 0px 80px 550px;
     background-color: rgb(145, 0, 48);
     color: white;
     border-radius: 10px 10px 10px 10px;
     font-size: 20px;
 }
 button:hover {
     background-color: gray;
 }
input:hover, textarea:hover {
    border-color: red;
}